<div class="container-lg" >
    <h1>New Reviewer</h1>
    <div class="card">
        <div class="card-header">
            Reviewer Information
        </div>
        <div class="card-body">
            <%= render 'form', reviewer: @reviewer %>
        </div>
        <div class="card-footer">
            <%= link_to 'Home', root_path, :class => "btn" %>
        </div>
    </div>
</div>
