<br>
<h1 style="padding-left: 2%">Help Page</h1>
<br>
<h3 style="padding-left: 5%">Overview</h3>
<p style="padding-left: 5%">
    Welcome  to the Syllabus Organizer! This application is designed to help 
    streamline the process of approving courses for outgoing exchange students.
    Using this application, you can upload course approval requests and 
    submit pdf files of syllabi for department reviewers to approve. The different
    pages of this website are explained in further detail below.
</p>
<h5 style="padding-left: 5%">My Requests</h5>
<p style="padding-left: 5%">
    Here, you will be able to see all the requests you have previously submitted as 
    well as their current approval status (pending/approved). On this page, there is
    also a button to submit new requests.
</p>
<h5 style="padding-left: 5%">Approved Requests</h5>
<p style="padding-left: 5%">
    On this page, you can see all requests that other outgoing exchange students have
    also submitted to check if the course you are interested in has already been approved.
</p>
<h5 style="padding-left: 5%">New Request</h5>
<p style="padding-left: 5%">
    This page is where you will submit your course requests. You will fill in the name,
    course number, and department of the course you are looking to take abroad. You will
    also fill in the number of contact hours and the semester you want approval for. In 
    the same form, you will also provide the University you are looking to attend abroad
    as well as the TAMU department you believe the course to be most similar to. Lastly,
    you must submit a copy of the foreign course's syllabus in pdf format for the department
    reviewer to assess. Once you submit a course approval request, it will appear in your
    "My Requests" page.
</p>
<h5 style="padding-left: 5%">Edit Information</h5>
<p style="padding-left: 5%">
    Here, you can edit your student information, including your major, college, and year.
</p>