<br>
<h1 style="padding-left: 2%">Help Page</h1>
<br>
<h3 style="padding-left: 5%">Overview</h3>
<p style="padding-left: 5%">
    Welcome  to the Syllabus Organizer! This application is designed to help 
    streamline the process of approving courses for outgoing exchange students.
    Using this application, you, as an admin can monitor the flow of requests
    between students and department reviewers. You are in charge of assigning 
    reviewers to their departments, and will be able to see the status of all 
    requests at any given moment. The different pages of this website are 
    explained in further detail below.
</p>
<h5 style="padding-left: 5%">Assign Reviewer</h5>
<p style="padding-left: 5%">
    Here, you will be able to see all the incoming requests made by the students.
    At this stage, you can assign specific requests to certain departments for
    review. You can change the department reviewing requests here as well, as you
    will have an overview of all pending requests.
</p>
<h5 style="padding-left: 5%">Pending Reviewer Approved</h5>
<p style="padding-left: 5%">
    On this page, you can see all requests that have been approved by the reviewer
    and which Texas A&M Universtiy course they believe it to be similar to. As an admin, you will
    have the power to approve specific students to take these courses abroad.
</p>
<h5 style="padding-left: 5%">All Course Requests</h5>
<p style="padding-left: 5%">
    This page is where you will be able to see all course requests, both pending and
    approved. It is a good way to see an overview of all courses that have already 
    been approved. 
</p>