<p id="notice"><%= notice %></p>

<p>
  <strong>Tamu department name:</strong>
  <%= @tamu_department.tamu_department_name %>
</p>

<%= link_to 'Edit', edit_tamu_department_path(@tamu_department) %> |
<%= link_to 'Back', tamu_departments_path %>
