<div class="container-lg">
    <h1>Reviewing Foreign Course Request</h1>
    <div class="card">
        <div class="card-header">
            Foreign Course Information
        </div>
        <div class="card-body">
            <%= render 'form', foreign_course: @foreign_course %>
        </div>
        <div class="card-footer">
            <%= link_to 'Back', pending_requests_path, :class => "btn" %>
        </div>
    </div>
</div>