<%= link_to("Back to Admin List", admins_path, :class => 'back-link') %>
<div>
  <h2>Delete User</h2>
  <%= form_for(@user, :method => 'delete') do |f| %>
    <p>Are you sure to permanently delete this user?</p>
    <div>
      <%= f.submit "Delete User"%>
    </div>
  <% end %>
</div>

