<br>
<h1 style="padding-left: 2%">Help Page</h1>
<br>
<h3 style="padding-left: 5%">Overview</h3>
<p style="padding-left: 5%">
    Welcome  to the Syllabus Organizer! This application is designed to help 
    streamline the process of approving courses for outgoing exchange students.
    Using this application, you, as a reviewer will be checking the requests
    designated to your department and either approving or rejecting them.
</p>
<h5 style="padding-left: 5%">Pending Requests</h5>
<p style="padding-left: 5%">
    Here, you will be able to see all the incoming requests designated to your
    specific department. You will be able to download a pdf copy of the syllabi
    submitted by students. Once you read through the syllabus and other information
    provided, you can then decide to approve or reject the course as something 
    equivalent to a Texas A&M Universtiy course. If you choose to approve a foreign course, you
    must specify which specific course offered at Texas A&M Universtiy it is equivalent to.
</p>
<h5 style="padding-left: 5%">Approved Requests</h5>
<p style="padding-left: 5%">
    On this page, you can see all of the approved requests by both you and any 
    other reviewers in your same department. This way, you can check to see if
    there are any courses you had approved beforehand that are similar to the 
    one being reviewed currently.  
</p>
<h5 style="padding-left: 5%">Edit Information</h5>
<p style="padding-left: 5%">
    Here, you can edit your information, including which department you are 
    reviewing for.
</p>