<style>
    .container {
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 17rem;
    }
</style>

<div class="container">
    <h1 class="title">The database has been re-seeded</h1>
    <%= link_to 'Home', root_path, :class => "btn btn-outline-secondary" %>
</div>
