<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to_unless_current("Assign Reviewer", assign_reviewer_path) %></li>
        <li class="nav-item"><%= link_to_unless_current("Pending Reviewer Approved", all_requests_path) %></li>
        <li class="nav-item"><%= link_to_unless_current("All Course Requests", approved_requests_path) %></li>
      </ul>
    </div>
  </div>
</nav>