<h1>Editing Foreign Course Tamu Course</h1>

<%= render 'form', foreign_course_tamu_course: @foreign_course_tamu_course %>

<%= link_to 'Show', @foreign_course_tamu_course %> |
<%= link_to 'Back', foreign_course_tamu_courses_path %>
