<% if @student.empty? %> 
    <h1>You are not a student. Please create one!</h1>
    <%= link_to 'New Student', new_student_path %>  
<% else %>
<h1>Welcome to Student View!</h1>
<% @student.each do |s| %>
  <tr>
    <td><%= s.tamu_major %></td>
    <td><%= s.tamu_college %></td>
  </tr>
<% end %>
<% end %>
